/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* fundo preto */
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Container central */
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Caixa central */
  .card {
    background-color: #111;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 300px;
  }
  
  /* Título */
  .card h1 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  /* Input */
  .card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
  }
  
  /* Botão */
  .card button {
    width: 100%;
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #0097a7;
  }
  
  /* Resultado */
  #resultado {
    margin-top: 20px;
    color: #fff;
  }